.user__all
  .user__all__user_sign_up
    = render 'layouts/header_user'

    .contents
      %h2 ログアウト
      .DoneMessage.Logout
        .DoneMessage__inner
          %p
            ログアウトが完了しました
          =link_to 'トップへ戻る', root_path, class: 'Btn'
    = render 'layouts/footer_user'
