.Contents{
  padding: 40px;
  margin: 0 auto;
  box-sizing: border-box;
  .Contents__Inner{
    width: 700px;
    margin: 0 auto;
  }
}

.Item{
  padding: 24px 40px 40px;
  background-color: $color-block;
}

.Item__Name{
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  display: block;
}

.Item__Images{
  margin: 16px 0 0;
  .Item__Images__Inner{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    .Item__Image{
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
    }
  }
}

.ItemIMG{
  width: 100%;
  height: 100%;
}

.Item__Subimages{
  height: 60px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  .Item__Subimage{
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    .ItemSubIMG{
      width: 100%;
      height: 100%;
    }
  }
}

.Item__Price{
  margin: 24px 0 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  .Item__Price__Price{
    font-size: 46px;
    font-weight: bold;
    margin: 0 10px 0 0;
  }
  .Item__PriceTax{
    font-size: 16px;
  }
}

.Item__Status{
  margin: 0;
  padding: 0;
  .ItemEdit{
    margin: 10px 0;
    color: #fff;
    font-weight: bold;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    background-color: #ccc;
    text-decoration: none;
    box-sizing: border-box;
  }
}
.ItemDelete{
  margin-top: 15px;
  margin: 10px 0;
  background-color: red;
  color: #fff;
  font-weight: bold;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.ItemBuyer{
  border: 1px solid $color-main;
  @include btn(#3CCACE);
  margin: 10px 0;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border-radius: 4px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.Item__Title{
  margin-top: 15px;
  font-size: 18px;
  margin-bottom: 30px;
}

.Item__Tables{
  margin-bottom: 20px;
  .Item__Table{
    width: 100%;
    height: 375px;
    border-collapse: collapse;
    border: 1px solid $white;
  }
}

.Item__TableBody{
  display: table-row-group;
  vertical-align: middle;
  tr{
    display: table-row;
    th{
      width: 20%;
      background-color: #eee;
      font-weight: 400;
      padding: 8px;
      border: 1px solid $light-gray;
      font-size: 14px;
      text-align: center;
    }
    td{
      width: 61%;
      padding: 15px 15px;
      border: 1px solid $light-gray;
      font-size: 14px;
    }
  }
}

.OptionArea{
  display: flex;
  justify-content: space-between;
}

.FavUl{
  margin: 10px 0 0;
  display: flex;
  list-style: none;
  .FavTag{
    color: #0099e8;
    text-decoration: none;
    .Favolite{
      margin-right: auto;
      padding: 6px 10px;
      border-radius: 40px;
      color: $color-main;
      border: 1px solid #ffb340;
      cursor: pointer;
    }
    .Report{
      font-size: 14px;
      color: #000;
      box-sizing: border-box;
      display: list-item;
      text-align: -webkit-match-parent;
      padding: 6px 10px;
      display: inline-block;
      border-radius: 4px;
      color: $color-text;
      border: 1px solid $color-text;
      text-decoration: none;
    }
  }
}

.Comment{
  padding: 24px;
  background-color: $color-block;
  margin: 10px 0;
  text-align: center;
  .CommentForm{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
  }
  .Form{
    .CommentText{
      margin: 0 auto;
      width: 100%;
      min-height: 104px;
      padding: 10px;
    }
    .NoticeMsg{
      padding: 8px;
      font-size: 14px;
      background-color: $white;
      margin: 10px 0;
      text-align: left;
    }
    .FormSendBtn{
      line-height: 48px;
      background: $color-main;
      border: 1px solid $color-main;
      color: $color-block;
      width: 60%;
      font-size: 18px;
      border-radius: 100px;
    }
  }
}

.SectionTitle{
  display: block;
  margin: 24px 0 8px;
  color: $color-main;
  background: $white;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  position: relative;
}

.RelatedItemsUser{
  margin: 26px auto;
  display: flex;
  flex-wrap: wrap;
  background: $white;
.RelatedItemUser:nth-of-type(3n) {
  margin-right: 0;
}
  .RelatedItemUser{
    width: 220px;
    display: inline-block;
    margin-right: 20px;
    .Item__Wrapper{
      width: 100%;
      background-color: $color-block;
      display: inline-block;
      text-decoration: none;
      position: relative;
      margin: 24px 0 8px;
    }
  }
}

.ItemImage{
  width: 220px;
  height: 150px;
  position: relative;
  overflow: hidden;
  margin: 0;
  display: block;
  .RelatedItemIMG{
    width: 100%;
    height: 100%;
  }
}

.ItemText{
  background-color: white;
  color: $color-text;
  padding: 16px;
  .ItemName{
    line-height: 1.5;
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .ItemPrice{
    font-size: 16px;
    text-decoration: none;
    .PriceUl{
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      .Priceli{
        display: list-item;
        text-align: -webkit-match-parent;
      }
    }
    .Tax{
      font-size: 10px;
      text-align: left;
      margin: 0;
      padding: 0;
    }
  }
}

