// ユーザーログイン画面
  .contents__login {
    width: 456px;
    margin: 0 auto;
    background-color: #fff;
    justify-content: center;
    &__top {
      padding: 40px 64px;
      text-align: center;
      border-bottom: 1px solid #eee;
      .new_user_btn {
        display: block;
        margin: 8px 0 0;
        border-radius: 4px;
        border: 1px solid $color-user;
        background: $color-user;
        color: #fff;
        line-height: 40px;
        text-decoration: none;
      }
    }
    &__midle {
      padding: 32px 64px;
      justify-content: center;
      &__block {
        margin: 0 auto;
        max-width: 343px;
      }
      &__btn {
        position: relative;
        margin: 0 auto;
        display: block;
        max-width: 343px;
        line-height: 48px;
        font-size: 14px;
        margin: 16px 0 0;
        text-align: center;
        border: 1px solid;
        border-radius: 4px;
        &--google {
          background-color: #fff;
          border: #979797 solid 1px;
          color: #333;
        }
        &--facebook {
          background: #385185;
          color: #fff;
        }
        &--apple {
          background: #000;
          color: #fff;
        }
        &--icon {
          position: absolute;
          top: 50%;
          left: 16px;
          transform: translate(0, -50%);
          font-size: 20px;
        }
      }
    }
    &__under {
      padding: 32px 64px;
      .log_in_btn {
        background: $color-main;
        border: 1px solid $color-main;
        color: #fff;
        font-size: 14px;
        margin: 24px 0 0;
      }
      .pass_forget {
        display: block;
        margin: 40px 0 0;
      }
    }
  }
  .alert {
    padding: 20px 10px;
    text-align: center;
    border: 2px solid #ffecb5;
    border-radius: 10px;
    background-color: #fff3cd;
    color: #f08080;
  }

