.user__all
  = render 'layouts/header_user'

  .Confirmation
    .Confirmation__SubField
      %h2.Caption　購入内容の確認
    .PurchaseField
      .Information
        .Information__group
          %figure.Information__item
            =image_tag 'pict2/ご飯.png' ,alt:'Item', class:"Item__Img"
        .Information__text
          %p.Information__Field
            ♡白米ちゃんやで♡
          %p.FeePrice
            %span.FeePrice__Fee 送料込（税込）
            %span.FeePrice__Price
              ¥10,000
    .PurchaseField
      .PaymentAmount
        %span 支払金額
        %span#PaymentPrice
          ¥10,000
    .PurchaseField
      .PaymentMethod
        .PaymentMethod__text
          %h3 支払い方法
        %a{href:"#", class: "PaymentMethod__Credit" }
          =icon('fa', 'plus-circle')
          %span 登録して下さい
    .PurchaseField

    .CreditCardField

  = render 'layouts/footer_user'
