.user__all
  = render 'layouts/header_user'

  .Confirmation
    .Confirmation__SubField
      %h2.Caption　購入内容の確認
    .PurchaseField
      .Information
        .Information__group
          %figure.Information__item
            =image_tag 'pict2/ご飯.png' ,alt:'Item', class:"Item__Img"
        .Information__text
          %p.Information__Field
            ♡白米ちゃんやで♡
          %p.FeePrice
            %span.FeePrice__Fee 送料込（税込）
            %span.FeePrice__Price
              ¥１０，０００
    .PurchaseField

    .PurchaseField

    .PurchaseField

    .CreditCardField

  = render 'layouts/footer_user'
