%body
  .Body
    .Contents
      .Contents__Inner
        .Item
          %h.Item__Name ご飯
          .Item__Images
            .Item__Images__Inner
              .Item__Image
              = link_to image_tag(src= "https://img.cpcdn.com/cms_article_images/2000331/560/ee0c384291e1cb90fa31da4fac8001a2?p=1464830056")
          .Item__Subimages
            .Item__Subimage
              = link_to image_tag(src= "https://item-shopping.c.yimg.jp/i/j/bunza_41009999")
          .Item__Price
            .Item__PriceTax
          .Item__Status
          .Item__Title
          .Item__Table
            %table
              %tr
                %th 1
                %td お腹がへった
              %tr
                %th 2
                %td
              %tr
                %th 3
                %td
              %tr
                %th 4
                %td
              %tr
                %th 5
                %td
              %tr
                %th 6
                %td
              %tr
                %th 7
                %td
              %tr
                %th 8
                %td
              %tr
                %th 9
                %td