%body
  .Body
    .Contents
      .Contents__Inner
        .Item
          %h.Item__Name ご飯
          .Item__Images
            .Item__Images__Inner
              .Item__Image
              = link_to image_tag(src= "https://img.cpcdn.com/cms_article_images/2000331/560/ee0c384291e1cb90fa31da4fac8001a2?p=1464830056")
          .Item__Subimages
            .Item__Subimage
              = link_to image_tag(src= "https://item-shopping.c.yimg.jp/i/j/bunza_41009999")
          .Item__Price
            %span.Item__Price__Price ¥5,000
            .Item__PriceTax
              %span (税込)
              %span 送料込み
          .Item__Status
            .Item__Status__Status
              売り切れました！
          .Item__Title
            ごはん！！
          .Item__Tables
            %table.Item__Table
              %tbody.Item__TableBody
                %tr
                  %th 出品者
                  %td お腹がへった
                %tr
                  %th カテゴリー
                  %td 
                %tr
                  %th サイズ
                  %td
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品の状態
                  %td
                %tr
                  %th 配送料の負担
                  %td
                %tr
                  %th 配送の方法
                  %td
                %tr
                  %th 発送元の地域
                  %td
                %tr
                  %th 発送日の目安
                  %td