.all {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-size: 14px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

header {
  height: 128px;
  text-align: center;
}

h1 {
  margin: 40px 0 0;
  display:inline-block;
}

img {
  width: 185px;
  height: 49px;
}
 
.contents {
  width: 700px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  display: block;
  justify-content: center;
  &__main {
    padding: 40px 40px 64px;
    &__block {
      margin: 0 auto;
      max-width: 343px;
    }
  }
}

h2 {
  font-size: 22px;
  padding: 32px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
}

  

.caution {
  color: white;
  background-color: red;
  padding: 2px 4px;
  margin: 0 0 0 8px;
  font-size: 12px;
}

input {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
  margin: 8px 0 0;
}

.input__half__left {
  width: calc(50% - 6px);
  margin-right: 10px;
}

.input__half__right {
  width: calc(50% - 6px);
}

.box {
  display: flex;
}
.normal {
  background-color: #bfbfbf;
  color: #fff;
  font-size: 12px;
  padding: 0 4px;
  margin-left: 8px;
  border-radius: 2px;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4em;
}

.field {
  margin: 24px 0 0;
}
.field__boxes {
  display: flex;
  justify-content: space-between;
}

label {
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

.birthday {
  height: 48px;
  width: calc((100% - 10px) / 3);
  border: 1px solid #ccc;
  border-radius: 4px;
}

p {
  margin: 8px 0 0;
}

.p2 {
  margin: 8px 0 0;
  color: #888;
}

.sign_up_button {
  margin-top: 40px;
  background: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 456px;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  color: #333;
  text-decoration: none;
  font-size: 12px;
  margin: 0 8px;
}

.small {
  font-size: small;
}