.all {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-size: 14px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

header {
  height: 128px;
  text-align: center;
}

h1 {
  margin: 40px 0 0;
  display:inline-block;
}
.image {
  width: 185px;
  height: 49px;
}

.title {
  font-size: 50px;
  font-family: serif;
  text-align: center;;
}
 
.contents.row {
  width: 980px;
  margin: auto;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.caution {
  color: white;
  background-color: red;
  padding: 3px;
  font-size: 15px;
}

.normal {
  color: white;
  background-color: gray;
  padding: 3px;
  font-size: 15px;
}

.field {
  margin: 15px 0px;
}
.field__boxes {
  display: flex;
  justify-content: space-between;
}

h4 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h5 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.AccountPage__title {
  width: 50%;
  font-size: 14px;
  font-weight: 200;

  h2 {
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 40px;
    &:after {
      content: "";
      display: block;
      width: 60px;
      margin-top: 5px;
      border-bottom: 1px solid #38aef0;
    }
  }

  .Button {
    margin-top: 40px;
    color: #fff;
    background-color: #ccc;
  }
}

.AccountPage__form {
  width: 50%;
}

.FormField {
  margin-bottom: 10px;
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

.Button {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
}

.UserButton {
  margin-top: 20px;
  color: #fff;
  background-color: #38aef0;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
