$color-main: #3ccace;
$color-text: #333;
$color-link: #0095ee;
$color-user: #0099e8;
$color-block: #fff;

$white: #f8f8f8;
$white-smoke: #f5f5f5;
$light-gray: #dedede;
$color-user: #0099e8;

$mostly-white: #fafafa;
