// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.Body{
  box-sizing: border-box;
  display: block;
  background-color: #f8f8f8;
  .Contents{
    padding: 40px;
    margin: 0 auto;
    box-sizing: border-box;
    .Contents__Inner{
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
      .Item{
        padding: 24px 40px 40px;
        .Item__Name{
          text-align: center;
          font-weight: bold;
          font-size: 24px;
          display: block;
          margin-block-start: 0.83em;
          margin-block-end: 0.83em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
        }
        .Item__Images{
          margin: 16px 0 0;
          .Item__Images__Inner{
            width: 300px;
            height: 300px;
            margin: 0 auto;
            text-align: center;
            overflow: hidden;
            display: flex;
            .Item__Image{
              display: flex;
              position: relative;
            }
          }
        }
        .Item__Subimages{
          height: 60px;
          width: 300px;
          margin: 0 auto;
          display: flex;
          .Item__Subimage{
            width: 60px;
            height: 60px;
            position: relative;
            overflow: hidden;
          }
        }
        .Item__Price{
          margin: 24px 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;
          .Item__Price__Price{
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          .Item__PriceTax{
            font-size: 16px;
          }
        }
        .Item__Status{
          margin: 0;
          padding: 0;
          .Item__Status__Status{
            font-weight: 600;
            font-size: 16px;
            border-radius: 0;
            cursor: not-allowed;
            display: block;
            width: 100%;
            line-height: 48px;
            border: 1px solid transparent;
            text-align: center;
            background-color: #ccc;
            color: #333;
          }
        }
        .Item__Title{
          margin-top: 15px;
          font-size: 18px;
          margin-bottom: 30px;
        }
        .Item__Tables{
          margin-bottom: 20px;
          .Item__Table{
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
            .Item__TableBody{
              display: table-row-group;
              vertical-align: middle;
              tr{
                display: table-row;
                th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                td{
                      width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                }
              }
            }
          }
        }
        .OptionArea{
          display: flex;
          justify-content: space-between;
          ul{
            margin: 10px 0 0;
            display: flex;
            list-style: none;
            a{
              color: #0099e8;
              text-decoration: none;
              .Favolite{
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
                cursor: pointer;
              }
            }
          }
        }
      }
      .Comment{
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        box-sizing: border-box;
        .CommentForm{
          list-style: none;
          margin: 0;
          padding: 0;
          display: block;
          .Form{
            margin: 0;
            padding: 0;
            .textarea{
              margin: 0 auto;
              width: 100%;
              min-height: 104px;
              padding: 10px;
              resize: none;
            }
            .NoticeMsg{
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
          }
        }
      }
      .RelatedItemsUserSection{
        a{
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
        .RelatedItemsUser{
          margin: 26px auto;
          display: flex;
          flex-wrap: wrap;
          .RelatedItemUser{
            width: 220px;
            display: inline-block;
            margin-right: 20px;
            a{
              background-color: #fff;
              display: inline-block;
              text-decoration: none;
              position: relative;
              margin: 24px 0 8px;
              color: #3CCACE;
              font-weight: bold;
              font-size: 22px;
              .ItemImage{
                width: 220px;
                height: 150px;
                position: relative;
                overflow: hidden;
                margin: 0;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}